import smtplib
server=smtplib.SMTP('smtp.gmail.com',587)
server.starttls()
server.login("mobpsyco250@gmail.com","manjusingh")
msg= "hey"
server.sendmail("mobpsyco250@gmail.com","404slimboysavage@gmail.com",msg)
print("ok")
server.quit()
